* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  background-color:white;
  ;
  
}
.navigatie ul {
  position: fixed;
    top: 0;
    width: 100%;
}
.navigatie li {
margin-top: 25px;
list-style: none;
margin-left: 650px;
}

.navigatie a { 
  text-decoration: none;
  text-transform: uppercase;
  float: left;
  padding: 4px;
  color: black;
  font-family: raleway;
  font-size: 28px;
  margin: 2px;
  margin-top: 12px;
}

#actief {
  color: grey;
}

.navigatie {

width: 1800px;
margin: left;
}

.navigatie a:hover {
  color: darkslategrey;
  background: lightgray;
}

#foto1 {
  width: 100%
}
#logo {
  float: left;
  padding-left: 123px;
  margin-top: 0px;
}
.doen {
  margin: center;
  text-align: center;
  margin-top: 50px;  
}

.foto {
  position: relative;
}

#icoonwebdesign{
  float: center;
  margin-top: -17px;
}

#icoonlogo {
  margin-top: 12px;
}

#icoongraphic {
  margin-top: -18px;
}

.tekstheader {
  font-size: 50px;
  float: left;
}

.footer {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 40px;
  background-color: darkgray;
  text-align: center;
  
}

.onsteam {
  padding: 2px;
  margin-left: 5px;
}

.grafischontwerp {
  margin-top: 100px;
}

#footer{
  width: 100%;
  margin-top: 10px;
  background-color: darkgray; 
  margin-top: 20px;
}
    
.footercontent{
    padding-bottom:5px; 
    color:white; 
    text-align: left;
    width:50%;
    margin-left:185px;
}

.kader{
  color: black;
  border: 5px solid black;
  height: 250px;
  width: 250px;
  line-height: 250px;
  margin: 0px 120px 40px 400px;
  margin-top: 10px;
  

}

.kader span {
  display: inline-block;
  line-height: normal;
  margin-top: 10px;
  vertical-align: middle;
}

.voslogo {
  margin-top: 50px;
}

.beertje {
  margin-top: 50px;
}

.splitsing  {
  margin-top: 20px;
}
.reclame {
  margin-top: 40px;
}

.motor {
  margin-top: 40px;
}

.folder {
  margin-top: 40px;
  margin-left: -40px;
}

.verklein {

margin-left: -110px;
}

.kleiner {
  margin-left: -153px;
}

.cartbutton {
        display:block; 
        width: 250px;
        height: 42px;
        background-color: grey;
        color: white;
        line-height: 42px; 
        box-shadow: 10px 10px 5px #888888;
        border: 2px solid;
        border-radius: 25px;
       
    }

.tekstenzo {

margin-top: -100px;
}

