body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  line-height: 1.42;
}
p {
  font-family: raleway;
  line-height: 1,90;
  text-align:left;
  color:black;
  
}
h2{
  font-family: 'futura';
  font-size: 25px;
  font-weight: 500;
  font-style: bold;
  line-height: 1.42;
  color: black;
}

h1{
  font-family: 'futura';
  font-size: 79px;
  font-weight: 500;
  font-style: bold;
  line-height: 1.42;
  color: black;
  
}

p quinten simon{
  text-align: left;
  margin-left: 30px;
}

#footer {
  font-family: raleway;
  text-align: left;
  font-size: 15px;
}

.kader {
  font-family: raleway;
  font-size: 40px;
  text-align: center;
}

